@font-face {
  font-family: 'Summer';
  src: url('./fonts/Summer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apple';
  src: url('./fonts/AppleGaramond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleB';
  src: url('./fonts/AppleGaramond-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  header{
      font-family: 'Apple', sans-serif;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      font-size: 25px;
      background-color: #2A2727;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .logo img{
    width: 150px;
    height: auto;
  }

  ul{
      display: flex;
      gap: 20px;
      list-style-type: none;
      flex-wrap: wrap;
  }

  .navbar a{
      color: #f5f5f5;
      text-decoration: none;
      border: none;
      transition: 0.2s;
      padding: 10px 20px;
      border-radius: 20px;
    }

  .navbar a:hover{
    padding: 10px 20px;
    background-color: #FFFFCA;
    border-radius: 20px;
    color:#2A2727;
  }

  .booking{
    font-family: 'Apple';
      background-color: #FFFFCA;
      margin-left: auto;
      margin-right: 10px;
      font-size: 25px;
      padding: 10px 20px;
      border-radius: 30px;
      transition: 0.2s ease;
      color: #2A2727;
      border: 2px solid #FFFFCA;
      white-space: nowrap;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .booking:hover{
    background-color: #2A2727;
    border: 2px solid #FFFFCA;
    color: #FFFFCA;

  }

  .booking a{
      color: #2A2727;
      text-decoration: none;
      transition: 0.2s ease;
  }

  .booking:hover a{
    color: #FFFFCA;
  }

  .home {
    border-bottom: 2px solid #FFFFCA;
  position: relative; /* make it a positioning context */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: transparent; /* no background color so video shows */
  text-align: center;
  overflow: hidden; /* ensures video doesn't spill outside */
}

#myVideo {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* or "contain" */
  z-index: -1; /* behind the content inside .home */
}

.overlay{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* dark overlay */
  z-index: -1;
}

  .home h1{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    font-family: 'Summer';
    color: #FFFFCA;
    font-size: 100px;
    margin-bottom: 40px;
  }

  .home h2{
    font-family: "Noto Serif Dives Akuru", serif;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    font-weight: 400;
    font-style: normal;
    word-spacing: -2px;
    color: #FFFFCA;
    font-size: 40px;
    margin-bottom: 100px;
  }

  .button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFCA;
    border-radius: 15px;
  }
  .button1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 2px solid #FFFFCA;
    font-family: 'Apple';
    position: relative;
    background-color: #2A2727;
    display: block;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    border: none;
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    color: #FFFFCA;
    text-transform: uppercase;
    transition: 1s all ease;
    z-index: 1;
  }

  .button1:hover{
    color: #2A2727;
    border: 2px solid #2A2727;
  }
  .button1::before{
    
    background-color: #FFFFCA;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2A2727;
    z-index: -1;
    transition: all 0.6s ease;
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .button1:hover::before{
    height: 380%;
  }

  .welcome {
    display: flex;
    padding: 150px 100px 150px 100px;
    gap: 100px;
    background-color: #2A2727;
    color: #f5f5f5;
    
  }

   



  .texts h1{
    color: #FFFFCA;
    font-family: "Noto Serif Dives Akuru", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 45px;
  }

  .texts h2{
    font-family: "Noto Serif Dives Akuru", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .texts p{
    font-family: 'Apple';
    font-size: 25px;
  }

  .images {
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .images img{
    justify-content: center;
    width: 300px;
    height: 400px;
    border: 2px solid #FFFFCA;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.2s ease;
  }

  .images img:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease;
  }

  .events {
    color: #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    background-color: #2A2727;
  }

  .events h1 {
    font-family: "Noto Serif Dives Akuru", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFCA;
    margin-bottom: 20px;
    font-size: 60px;
  }

  .events h2 {
    font-family: "Noto Serif Dives Akuru", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
  }

  .container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }

  .card__container {
    margin-bottom: 150px;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card__article {
    position: relative;
    overflow: hidden;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .card__img {
    width: 100%;
    border-radius: 1.5rem;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  /* Card content */
  .card__data {
    width: auto;
    color: #2A2727;
    background-color: #FFFFCA;
    padding: 20px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s;
  }

  /* Card title */
  .card__title {
    font-family: 'Apple';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  .explore {
    font-family: 'Apple';
    padding: 10px 20px;
    background-color: #2A2727;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    font-size: 25px;
  }

  .explore:hover {
    padding: 15px 25px;
    font-size: 30px;
  }

  .explore a {
    font-family: 'Apple';
    text-decoration: none;
    color: #FFFFCA;
  }

  /* Hover state animations */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }

  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }

  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
    opacity: 0;
  }

  /* Keyframes */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }

  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(0.5rem);
    }
  }

  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }

  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

  .footer {
    font-family: 'Apple';
    background-color: #e0e0e0;
    padding: 40px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }

 .logo-placeholder img{
    width: 170px;
    height: auto;
    margin-bottom: 10px;
    margin-left: -25px;
  }

  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
  }

  .footer_section .foot_text{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 4px 0;
  }

  .footer-section p,
  .footer-section a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 4px 0;
    text-align: right;
  }

  .footer-section a:hover{
    text-decoration: underline;
  }

  .footer-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-bottom p {
    font-size: 13px;
    font-style: italic;
  }

  .social-icons {
    display: flex;
    gap: 40px;
    color: #2A2727;
  }

  .icon {
    font-size: 20px;
  }

  .icon a{
    color: #2A2727;
    transition: 0.2s ease;
  }

  .icon a:hover{
    font-size: 30px;
  }


/* Responsive Styles */

 @media screen and (max-width: 1169px){
     header{
      padding: 20px;
      font-size: 20px;
      gap: 15px;
    }

    .booking{
      font-size: 20px;
    }

    .card__container{
      grid-template-columns: repeat(2, 1fr);
    }
  }






